
.aboutHead{
    color:black;
    background: rgba(0, 0, 0, 0.6);
    width:20%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 5px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.aboutImage{
    width: 50%;
    height: 45%;
    margin-left: 25%;
    margin-right: 25%;
    background-image: url("../images/spongeReading.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 5%;
    position: absolute;
}

.copyright{
    background: rgba(0, 0, 0, 0.3);
    color:white;
    width:10%;
    margin-left: 45%;
    margin-right: 45%;
    top: 80%;
    border-radius: 5px;
    position: absolute;
}

.asideleft{
    width:20%;
    left:1%;
    margin-top: 8%;
    height: 40%;
    color: white;
    font-size: 18pt;
    border-radius: 5px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    text-align: left;
    padding-top:1%;
    padding-left: 1%;
    
}

.asideright{
    width:20%;
    right:1%;
    margin-top: 2%;
    height: 75%;
    color: white;
    font-size: 14pt;
    border-radius: 5px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    text-align: left;
    padding-top:1%;
    padding-left: 1%;
}