.home{
    background-image: url('../images/galaxy.jpg');
    background-size: cover;
    text-align: center;

}

.userinfo{
    background: white;
}


.containerForCards{
    color:white;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.particles{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image: url('../images/galaxy.jpg');
    background-size: cover;
    text-align: center;
    z-index: -1;
}

