.btn-r {
    float: right;
    margin-left: 3px;
    font-size: 10px;
  }
  
  .btn-l {
    float: left;
    margin-right: 3px;
    font-size: 10px;
  }

  .tekstzavezbu{
      margin: 1%;
      height: 70vh;
      overflow: scroll;
      text-align: left;
  }

  .practiceContainer{
     margin-top:2%;
  }
  .textInfoContainer{
    width:50%;
    height: 15%;
    margin-left: 15%;
    margin-right: 5%;
    position: absolute;
    text-align: left;
    margin-top: -3.5%;
    padding-left: 15%;
    font-family: 'Hepta Slab', serif;
  }

.oneLine{
    display: block;
}

.invisibility{
  visibility: hidden;
}


.rightside{
  float: right;
}

.timerContainer{
  height: 100%;
  font-size: 20pt;
}

.timer{
  left: -8%;
  position: relative;
  border-radius: 5px;
  display: inline;
  padding: 2px;
  color: white;
  background-color: darkred;
}

.finishButton{
    margin-top: -0.8%;
}

.resultDiv{
  margin-top: -50%;
}

.resultShow{
    width: 70%;
    height: 100%;
    margin-left: 30%;
    margin-top: -50%;
    color: black;
    visibility: visible;
    text-align: left;
    font-size: 20pt;
    font-family: 'Hepta Slab', serif;
}

.highlightedText{
    background-color: blue;
    color: white;
}

.labelChose{
  font-family: 'Hepta Slab', serif;
  font-size: 18pt;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  margin-top: 1%;
  position: relative;
}

.selectStyle{
  font-family: 'Hepta Slab', serif;
}


.ucitajTestove{
  margin-right: 1%;
  margin-top: -3%;
  position: relative;
  width: 8%;
  float: right;
}

.questionsContainer{
   margin-top: 1%;
   background: rgba(0,0,0,1);
}

.questionLabel{
  display: block;
  font-family: 'Hepta Slab', serif;
  font-size: 16pt;
  background: rgba(0,0,0,0.9);
  color: white;
  border-bottom: 1px solid white;
}

.answersContainerDefault{
  background: rgba(0,0,0,0.9);
  border-bottom: 1px solid white;
}

.answersContainer{
  background: rgba(0,0,0,0.9);
  border-bottom: 1px solid white;
}

.answerButton{
  margin: 0.2%;
}

.testResultContainer{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  border-radius: 5px;
  background: rgba(0,0,0,0.9);
  color: white;
}

.testResultLabel{
  display: block;
  font-family: 'Hepta Slab', serif;
}

.closeButton{
  margin: 1%;
}