.box {
    float: left;
    position: relative;
    width: 25%;
    height: auto;
    margin-left: 5%;
    margin-top: 5%;
    background: rgba(240, 240, 240, 0.25);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(59, 46, 46, 0.2);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: black;
    font-family: 'Bitter', serif;
  }

.naslov{
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: 'Bitter', serif;
}
.slika1{
  background-image: url("../images/reading.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.slika2{
  background-image: url("../images/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.slika3{
  background-image: url("../images/why.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
  
.box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    background: rgba(240, 240, 240, 0.9);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  
  .box:hover::after {
    opacity: 1;
  }
  
  .karticaDiv {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }