.userinfo{
    color: rgb(73, 67, 67);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: 'Bitter', serif;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 100%;
    margin-top: 10%;
    font-size: 20pt;
}

.deleteButtonContainer{
    margin-top: 2%;
}